{% extends 'base.html.twig' %}
{% block title %}Dossier en Livré{% endblock %}
{% block body %}
<h1>Dossier Livré  </h1>
<style>

</style>
    <div style="display: grid; grid-template-columns: 33% 33% 33%; grid-template-rows: 1fr;gap: 1rem;max-width: 1800px;">
    {% for dossier in dossiers %}
        {% if dossier.status != 2 %}
            <div style="margin:30px;">
            <a class="ahref" href="{{ path('app_dossier_show', {'id': dossier.id}) }}" style="text-decoration: none;display: block;height: 100%;">
                <div class="card bg-light mb-3" style="max-width: 20rem;height: 100%;">
                    <div class="card-header"> {{ dossier.immatriculation }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ dossier.marque }} {{ dossier.modele }}</h4>
                        <h4 class="card-title" style="color:#A80B0B">{{ dossier.daterdv ? dossier.daterdv|date('Y-m-d H:i:s') : '' }} </h4>
                        {% for item in dossier.produits %}
                            <p> {{ item.name }} : {{ item.prix }}€ </p>
                        {% endfor %}
                    </div>
                </div>
            </a>

        {% endif %}
    </div>
{% endfor %}

{% endblock %}